html, body {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 0;
  margin: 0;
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  #1e5799 0%, #338cd6 59%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(59%,#338cd6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1e5799 0%,#338cd6 59%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1e5799 0%,#338cd6 59%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1e5799 0%,#338cd6 59%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1e5799 0%,#338cd6 59%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

div#title {
  background: #1e5799; /* Old browsers */
  color: white;
  position: absolute;
  top: 0;
  left: 50%;
  width: 500px;
  margin-left: -253px;
  z-index: 500;
  border-radius: 7px;
}

div#title a {
  color: white;
}

div#title a#more_link {
  color: yellow;
}

div#title p a {
  color: #1e5799;
  font-weight: bold;
}

div.padding { padding: 10px; }

div#film_roll {
  height: 100%;
}

.film_roll_wrapper img {
  border: 10px solid white;
  box-shadow: 7px 7px 15px #777;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 1s ease;
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.film_roll_wrapper .active img {
  border: 10px solid yellow;
}

.film_roll_pager {
  position: relative;
  top: -20px;
  /*z-index: 200;*/
}

#more {
  width: 440px;
  padding: 10px 20px 20px 20px;
  border-radius: 4px;
  background: white;
  color: black;
  text-align: left;
}

#more h2 {
  text-align: center;
}

.floatright {
  float: right;
}